body{
    background-color: #808080;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.square
{
    width: 30%;
    padding-bottom: 30%;
    margin:  1.6%;
    background-color: purple;
    float: left;
    border-radius: 1cm;
    transition: background 0.4s;
    
}
#container
{
    margin: 0 auto;
    max-width: 600px;;
}

#stripe
{
    background-color: white;
    height: 20px;
    text-align: center;
    color: black;
    
}

h1{
    text-align:center;
    color: whitesmoke;
    background-color: steelblue;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
}
#colordisplay
{
    font-size: 200%;
}
#reset
{
    
    color: steelblue;
    border: 0;
    background-color: white;
    font-weight: bolder;
    text-transform: uppercase;
    outline:none;
    transition: all 0.4s;

}
#msg
{
    display: inline-block;
    width: 30%;
    text-transform: uppercase;
    color: steelblue;font-weight: bolder;
}
#reset:hover{
    color: white;
    background-color: steelblue;
    border: none;
    outline: none;
}